/* ---- macOS Spotlight Theme ---- */
/* Main Config (compact) */

@import "~/.config/rofi/master-config.rasi"  

/* ---- Configuration ---- */ 
configuration {
  modi: "drun";
}

/* ---- Window ---- */
window {
  width: 50%;
  border-radius: 8;
}

/* ---- Imagebox ---- */
imagebox {
  orientation: vertical;
  children: [ "entry", "listview"];
}

/* ---- Entry input ---- */
entry {
  width: 23%;
  placeholder: "👀  View / Edit Hyprland Configs";
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 6;
  spacing: 4px;
  scrollbar: false;
  border-radius: 8;
}

/* ---- Element ---- */
element {
  border-radius: 8;
}
